name: Qodana Clone Finder

on: [ workflow_dispatch, push, pull_request ]

jobs:
  qodana-clone-finder:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Qodana - Clone Finder
        uses: JetBrains/qodana-clone-finder-action@v2.0-eap

      - uses: actions/upload-artifact@v3
        with:
          path: ${{ github.workspace }}/qodana
          name: qodana-artifacts
